<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>MercadoLiebre</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylessheet" href="/css/normalize.css">
   <link rel="stylesheet" href="css/styles.css">
   <script src="https://kit.fontawesome.com/ca36fbaa0c.js" crossorigin="anonymous"></script>
</head>

<body>
   <header class="header">
      <div class="header-top-bar">
         <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width=120px
            class="logo"></img>
         <form class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
         </form>
         <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
      </div>
      


      <nav class="nav-bar">
         <ul class="left-nav-bar">
            <li><a href=#>Ofertas </a></li>
            <li><a href=#>Tiendas Oficiales</a></li>
            <li><a href=#>Vender</a></li>
            <li><a href=#>Ayuda</a></li>
         </ul>

         <ul class="right-nav-bar">
            <li><a href=#>Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
            <li><a href=#>Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href=#>Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
         </ul>
      </nav>
      <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
      </section>
   </header>
   <img src="images/img-home-banner.jpg" alt="banner" class="banner"></img>

   <main>
      <h3>Basado en tu última visita</h3>
      <section>
            <article>
               <img src="images/img-cafetera-moulinex.jpg" alt="Foto-cafetera-moulinex">
               <div class="product-description">
                  <i class="fa-solid fa-truck"></i>
                  <p class="price">$6.770</p>
                  <p class="discount">%40 Off</p>
                  <p class="product-name">Cafetera Moulinex</p>
               </div>
            </article>

            <article>
               <img src="images/img-macbook-pro-2019.jpg" alt="Foto-macbook-pro-2019">
               <div class="product-description">
                  <i class="fa-solid fa-truck"></i>
                  <p class="price">$230.000</p>
                  <p class="discount">20% off</p>
                  <p class="product-name">MacBook Pro 2019</p>
               </div>
            </article>

            <article>
               <img src="images/img-samsung-galaxy-s10.jpg" alt="Foto-samsung-galaxy-s10">
               <div class="product-description">
                  <i class="fa-solid fa-truck"></i>
                  <p class="price">$70.500</h5>
                  <p class="discount"> 10% off</h5>
                  <p class="product-name"> Samsung Galaxy S10</p>
               </div>
            </article>

            <article>
               <img src="images/img-tv-samsung-smart.jpg" alt="Foto-samsung-smart.jpg">
               <div class="product-description">
                  <i class="fa-solid fa-truck"></i>
                  <p class="price">$23.200</p>
                  <p class="discount"> 5% off</p>
                  <p class="product-name"> SmartTv Samsung 43"</p>
               </div>
            </article>


      </section>
      <h3>Ofertas</h3>
      <section>
         <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="Foto-cafetera-moulinex">
            <div class="product-description">
               <i class="fa-solid fa-truck"></i>
               <p class="price">$6.770</p>
               <p class="discount">40% Off</p>
               <p class="product-name">Cafetera Moulinex</p>
            </div>
         </article>

         <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="Foto-macbook-pro-2019">
            <div class="product-description">
               <i class="fa-solid fa-truck"></i>
               <p class="price">$230.000</p>
               <p class="discount">20% off</p>
               <p class="product-name">MacBook Pro 2019</p>
            </div>
         </article>

         <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="Foto-samsung-galaxy-s10">
            <div class="product-description">
               <i class="fa-solid fa-truck"></i>
               <p class="price">$70.500</p>
               <p class="discount">10% off</p>
               <p class="product-name">Samsung Galaxy S10</p>
            </div>
         </article>

         <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="Foto-samsung-smart.jpg">
            <div class="product-description">
               <i class="fa-solid fa-truck"></i>
               <p class="price">$23.200</p>
               <p class="discount">5% off</p>
               <p class="product-name">SmartTv Samsung 43"</p>
            </div>
         </article>
         </div>
      </section>
   </main>

   <footer>
      <div class="footer-sections">
      <section>
         <i class="fa-solid fa-credit-card"></i>
         <h5>Pagá con tarjeta o en efectivo</h5>
         <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section>
         <i class="fa-solid fa-gift"></i>
         <h5>Envío gratis desde $ 2.500</h5>
         <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
         </section>
         <section>
            <i class="fa-solid fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
               porque estás siempre protegid@.</p>
         </section>
      </div>

         <p class="copyright">"Copyright© 1999-2020 MercadoLiebre S.R.L."</p>
   </footer>
</body>

</html>