<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>MercadoLiebre</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <link rel="stylessheet" href="/css/normalize.css">
   <link rel="stylesheet" href="css/styleslogin.css">
   <script src="https://kit.fontawesome.com/ca36fbaa0c.js" crossorigin="anonymous"></script>
</head>

<body>
   <header class="header">
      <div class="header-top-bar">
         <a href="./" class="logo">
            <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" 
                class="logo"></img>
         </a>
         <form class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
         </form>
         <h2 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
            crédito</h2>
      </div>

      <nav class="nav-bar">
         <ul class="left-nav-bar">
            <li><a href=#>Ofertas </a></li>
            <li><a href=#>Tiendas Oficiales</a></li>
            <li><a href=#>Vender</a></li>
            <li><a href=#>Ayuda</a></li>
         </ul>

         <ul class="right-nav-bar">
            <li><a href="register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
            <li><a href="login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href=#>Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
         </ul>
      </nav>
      <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
      </section>
   </header>

   <main>
      <form action=”” method=post class="login-form">
         <div class="login-form-control">
            <input type=”text” name=”nombreUsuario” placeholder="Nombre de usuario" class="input">
            <span class="feedback"></span>
         </div>
         <div class="login-form-control">
            <input type=”password” name=”password” placeholder="Contraseña" class="input">
            <span class="feedback"></span>
         </div>
         <div class="small-letter">
            <label class="remember-me"><input type="checkbox" value="remember-me">Recordarme</label>
            <a href=# class="forgot">Olvidé contraseña</a>
         </div>
         <div class="login-form-control">
            <button type=”sumit”>Enviar</button>
         </div>
      </form>
   </main>
   <footer>
      <div class="footer-sections">
         <section>
            <i class="fa-solid fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
               puntos de pago. ¡Y siempre es seguro!</p>
         </section>
         <section>
            <i class="fa-solid fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
               productos. Es un beneficio de Mercado Puntos.</p>
         </section>
         <section>
            <i class="fa-solid fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
               porque estás siempre protegid@.</p>
         </section>
      </div>

      <p class="copyright">"Copyright© 1999-2020 MercadoLiebre S.R.L."</p>
   </footer>
</body>

</html>